@font-face {
  font-family: "IvyPresto-Light";
  src: url("./IvyPresto/IvyPresto-Light.otf") format("otf");
}
@font-face {
  font-family: "IvyPresto-Semibold";
  src: url("./IvyPresto/IvyPresto-Semibold.otf") format("otf");
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url(".ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("./ProximaNova/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("./ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("./ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("./ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("./ProximaNova/ProximaNova-Bold.woff") format("woff"),
    url("./ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-light-color: #f6fbfd;
  --main-black-color: #000000;
  --main-dark-blue-color: #17294a;
  --secondary-dark-blue-color: #132a4e;
  --main-blue-color: #0a66c2;
  --main-light-blue-color: #66baff;
  --main-yellow-color: #faec50;
  --main-dark-gray-color: #141e28;
}

*,
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1415px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-color: #19294b;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--main-light-color);
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav,
.hero__menu {
  color: var(--main-light-color);
}
.mobile__menu-container {
  display: none;
}
.mobile__menu-container.active {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 97px;
  left: 0;
  background-color: #19294b;
}
.mobile__menu {
  padding-top: 34px;
  padding-bottom: 40px;
}
.mobile__menu li,
.hero__menu li {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.mobile__menu li:last-child {
  color: var(--main-yellow-color);
  margin-bottom: 0;
}
.menu {
  display: none;
}
.hero__container {
  padding-top: 64px;
}
.hero__title {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 40px;
  color: #19294b;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero__title span {
  font-style: italic;
  font-weight: 400;
}
.hero__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #19294b;
}
.line {
  opacity: 0.2;
  border: 1px solid var(--main-dark-blue-color);
}
.content__container {
  padding-top: 72px;
  padding-bottom: 80px;
}
.content__img,
.videosondemand__img {
  width: 100%;
  margin-bottom: 16px;
}
.watch__btn,
.listen__btn,
.read__btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  color: var(--main-blue-color);
}
.post__left-part .watch__btn .listen__btn,
.read__btn {
  margin-top: 24px;
}
.watch__btn img {
  width: 23px;
  height: 22px;
  margin-right: 19px;
}
.content__left-part-wrap .watch__btn img {
  width: 35px;
  height: 35px;
}
.content__left-part-wrap .video__time {
  display: none;
}
.content__title,
.title,
.banner-episodes__title,
.events__right-part-title {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--main-dark-blue-color);
}
.content__title,
.title {
  margin-top: 16px;
}
.content__title {
  color: var(--secondary-dark-blue-color);
}
.content__text,
.videosondemand__text,
.banner-episodes__text,
.info-page__label,
.info-page__text,
.post__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-dark-blue-color);
}
.content__text,
.videosondemand__text,
.banner-episodes__text {
  margin-top: 16px;
}

.content__left-part .content__text {
  color: var(--secondary-dark-blue-color);
}
.content__text-none {
  display: none;
}
.main__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-black-color);
  border-radius: 2px;
  padding-top: 21px;
  padding-bottom: 21px;
  max-width: 346px;
  font-family: "Proxima Nova Rg";
  font-weight: bold;
  font-size: 20px;
  color: var(--main-dark-blue-color);
}
.main__btn:hover,
.main__btn:focus {
  color: var(--main-light-blue-color);
}
.arrow__icon {
  width: 17px;
  height: 17px;
  margin-left: 22px;
}
.content .main__btn {
  margin-top: 64px;
  margin-bottom: 72px;
}
.content__right-part li:first-child {
  margin-bottom: 72px;
}
.content__right-part img {
  width: 100%;
}
.content__right-part a,
.listen__btn {
  display: flex;
  flex-wrap: wrap;
  text-decoration: underline;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  color: var(--main-blue-color);
  margin-top: 16px;
}
.content__right-part a img {
  width: 20px;
  height: 17px;
  margin-right: 14px;
}
.verdicts {
  background-color: var(--main-dark-gray-color);
  padding: 80px 0 80px 40px;
}
.verdicts__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-yellow-color);
  margin-bottom: 56px;
}
.verdicts__list {
  display: flex;
  margin-bottom: 40px;
}
.verdicts__item {
  margin-right: 50px;
}
.verdicts__list p {
  font-family: "IvyPresto-Light";
  font-weight: 300;
  font-size: 40px;
  color: var(--main-light-blue-color);
  margin-bottom: 21px;
}
.verdicts__list-info li {
  font-size: 12px;
  color: #c8dae9;
  text-transform: uppercase;
}
.verdicts__list-info li:first-child {
  font-weight: 300;
  font-style: italic;
}
.verdicts__list-info li:last-child {
  font-weight: 700;
}
.arrow__btn,
.arrow__btn-black {
  display: flex;
}
.arrow__btn li,
.arrow__btn-black li {
  display: flex;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.arrow__btn li {
  border: 1px solid #ffffff;
}

.casetypes {
  background-color: #132b4f;
}
.casetypes__container,
.resource__list li,
.videosondemand__container,
.events__container,
.email__container,
.events__right-part {
  padding-top: 80px;
  padding-bottom: 80px;
}
.casetypes__title,
.resource__title,
.resource__list p,
.videosondemand__title,
.banner-episodes__title-secondary,
.events__title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.casetypes__title,
.events__title {
  color: #ffffff;
}
.casetypes__left-part ul {
  display: flex;
}
.casetypes__left-part-list li {
  width: 318px;
  height: 318px;
  background: #255096;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  margin-right: 20px;
}
.casetypes__left-part-list img {
  margin: 0 auto;
}
.casetypes__left-part-list p {
  font-weight: 700;

  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase;
}
.casetypes__left-part .arrow__btn {
  justify-content: center;
  margin-bottom: 56px;
}
.casetypes__right-part-title {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--main-light-color);
  margin-bottom: 16px;
  margin-top: 56px;
}
.casetypes__right-part-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-light-color);
  margin-bottom: 64px;
}
.casetypes__btn {
  border-color: var(--main-light-blue-color);
  color: var(--main-light-color);
}
.resource__container {
  padding-top: 80px;
}
.resource__title,
.resource__list p,
.videosondemand__title,
.banner-episodes__title-secondary {
  color: var(--main-black-color);
}
.resource__title {
  margin-left: 20px;
}
.resource__list li:first-child {
  background-color: var(--main-yellow-color);
}
.resource__img {
  display: none;
}
.resource__list li:nth-child(n + 2) {
  background-color: var(--main-light-blue-color);
}
.resource__list li:nth-child(2) {
  border-bottom: 1px solid var(--main-black-color);
}
.resource__list li:nth-child(2) .main__btn {
  text-align: center;
}
.resource__list li:nth-child(2) span {
  display: flex;
  align-items: center;
}
.resource__list div {
  padding-right: 20px;
  padding-left: 20px;
}
.resource__list .title {
  margin-bottom: 64px;
}

.resource__list .main__btn {
  margin: 0 auto;
  padding-left: 42px;
  padding-right: 42px;
}

.videosondemand__list {
  display: flex;
}
.videosondemand__list li {
  width: 296px;
  margin-right: 20px;
}
.videosondemand__list li:last-child {
  margin-right: 0;
}
.video__time {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--main-blue-color);
}
.arrow__btn-black {
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 52px;
}
.arrow__btn-black li {
  border: 1px solid var(--main-black-color);
}
.banner-series__container {
  background-color: var(--main-yellow-color);
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.banner-series__text p:first-child {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 91%;
  color: var(--main-dark-blue-color);
  margin-bottom: 16px;
}
.banner-series__text p:last-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 64px;
  color: var(--main-dark-blue-color);
}
.banner-series__btn .main__btn,
.events__right-part .main__btn {
  border-color: #ffffff;
  background-color: #ffffff;
  margin: 0 auto 40px auto;
}
.banner-series__img {
  margin: 0 auto;
}
.banner-episodes__right-part {
  padding: 80px 20px;
  background-color: var(--main-light-color);
}
.listen__btn {
  margin-top: 32px;
}
.listen__btn img {
  margin-right: 14px;
}
.banner-episodes__right-part .main__btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 64px;
  background-color: #ffffff;
}
.voice__icon {
  margin-right: 22px;
}
.events {
  background-color: var(--main-dark-gray-color);
}
.events__title {
  text-align: center;
}
.events__left-part {
  margin-bottom: 26px;
}
.events__left-part-text {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: var(--main-black-color);
  text-align: center;
  color: #ffffff;
}
.events__left-part-text .title {
  color: #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 8px;
}
.events__left-part-text ul {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}
.events__left-part-text li {
  width: 9px;
  height: 9px;
  border: 0.5px solid var(--main-yellow-color);
  border-radius: 50%;
  margin-right: 6px;
}
.events__left-part-text li:last-child {
  margin-right: 0;
}

.events__left-part-text li {
  width: 18px;
  height: 18px;
  margin-right: 18;
}

.events__right-part {
  background-color: var(--main-light-blue-color);
  padding-left: 40px;
  padding-right: 40px;
}
.events__right-part-text-wrap {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--main-dark-blue-color);
  margin-bottom: 28px;
}
.events__right-part-text-wrap span {
  display: none;
}
.events__right-part-title {
  margin-bottom: 64px;
}
.location__btn {
  display: flex;
  text-decoration: underline;
  font-weight: 600;
  font-size: 20px;
  color: var(--main-dark-blue-color);
}
.location__btn img {
  margin-right: 10px;
}
.events__right-part-img {
  display: none;
}
.email {
  background-color: var(--main-dark-blue-color);
}
.email__container {
  padding-right: 40px;
  padding-left: 40px;
}
.email__text {
  text-transform: uppercase;
  text-align: center;
}
.email__text p:first-child {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 107%;
  color: var(--main-light-color);
  margin-bottom: 20px;
}
.email__text p:last-child {
  font-family: "Proxima Nova Rg";
  font-weight: 400;
  font-size: 18px;
  line-height: 122.5%;
  color: var(--main-light-blue-color);
  margin-bottom: 40px;
}
.email__input {
  display: flex;
  justify-content: center;
}
.email__input input {
  width: 166px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid var(--main-light-blue-color);
  background-color: var(--main-dark-blue-color);
  padding: 20px 5px 20px 20px;
  color: var(--main-light-color);
  outline: var(--main-light-color);
}
.email__input input:focus {
  border: 1px solid var(--main-light-color);
}
.email__input input::placeholder {
  font-family: "Proxima Nova Rg";
  font-weight: 400;
  font-size: 12px;
  color: var(--main-light-color);
}
.email__input a {
  display: flex;
  background-color: var(--main-light-blue-color);
  color: #255096;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 127px;
  align-items: center;
  justify-content: center;
}
.email__input a img {
  margin-left: 5px;
}
.info-page__container {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 80px;
}
.info-page__title {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 40px;
  color: var(--main-dark-blue-color);
  margin-bottom: 16px;
}
.info-page__text {
  margin-top: 36px;
}
.posts__container {
  margin-bottom: 96px;
}
.posts__item {
  border-bottom: 1px solid #babec0;
  padding-bottom: 80px;
}
.posts__item:nth-child(n + 2) {
  padding-top: 80px;
}
.post__left-part {
  margin-bottom: 32px;
}
.post__left-part img {
  width: 100%;
}
.loadmore__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 365px;
  border: 1px solid var(--main-black-color);
  border-radius: 100px;
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  font-size: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 64px auto 0 auto;
}
.post__text {
  display: none;
}
.filter__container {
  padding-bottom: 56px;
}
.filter__list {
  display: flex;
  justify-content: center;
}
.filter__list li {
  margin-right: 24px;
}
.filter__list li:last-child {
  margin-right: 0;
}
.filter__list a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #115099;
  text-align: center;
  padding: 8px 48px;
  border: 1px solid var(--main-blue-color);
  border-radius: 100px;
}
.filter__list a.active {
  background: #255096;
  color: #f5f9fd;
}
.listen__btn img {
  margin-right: 11px;
}
.listen-from__list {
  display: flex;
  margin-top: 40px;
}
.listen-from__list li {
  margin-right: 31px;
}
.listen-from__list li:last-child {
  margin-right: 0;
}
.listen-from__list img {
  width: 34px;
  height: 35px;
}
.info-page__title span {
  font-weight: 900;
}
.read__btn img {
  margin-right: 8px;
}
.media-content__container {
  padding-top: 72px;
  padding-bottom: 32px;
}
.text-content__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 39px;
}
.text-content__list li {
  margin-right: 30px;
}
.text-content__list li:last-child {
  margin-right: 0;
}
.text-content__list li:last-child a {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--main-blue-color);
}
.text-content__list li:last-child img {
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .hero__wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .hero__title {
    font-family: "IvyPresto-Light";
    margin-right: 35px;
    margin-bottom: 0;
    text-transform: unset;
  }
  .content__img {
    margin-bottom: 8px;
  }
  .content__left-part-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content__left-part-wrap .video__time {
    display: block;
  }
  .content__text-none {
    display: block;
  }

  .arrow__btn,
  .casetypes__left-part .arrow__btn {
    display: none;
  }
  .verdicts {
    padding: 50px 0 50px 72px;
  }
  .verdicts__wrap {
    display: flex;
    flex-wrap: nowrap;
  }
  .verdicts__title {
    margin-right: 40px;
    margin-bottom: 0;
    text-align: end;
  }
  .verdicts__list {
    margin-bottom: 0;
  }
  .verdicts__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-right: 1px solid #47546f;
  }
  .verdicts__list p {
    margin-right: 21px;
    margin-bottom: 0;
  }
  .verdicts__list-info {
    width: 272px;
  }
  .casetypes__left-part ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .casetypes__left-part-list li {
    margin-bottom: 20px;
  }
  .casetypes__left-part-list li:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .videosondemand__list {
    margin-bottom: 46px;
  }
  .videosondemand__list li {
    width: 443px;
  }
  .arrow__btn-black {
    display: none;
  }
  .videosondemand__container .main__btn {
    margin: 0 auto;
  }
  .banner-episodes__left-part img {
    margin: 0 auto;
  }

  .events__left-part img {
    width: 100%;
  }
  .events__left-part-text {
    padding-top: 18px;
    padding-bottom: 70px;
  }
  .events__left-part-text .title {
    margin-bottom: 18px;
  }
  .events__left-part-text ul {
    margin-top: 84px;
  }
  .events__right-part {
    position: relative;
    padding: 77px 20px 88px 76px;
  }
  .events__right-part-text-wrap {
    display: flex;
    margin-bottom: 31px;
  }
  .events__right-part-text-wrap span {
    display: block;
  }
  .events__right-part-title {
    font-family: "IvyPresto-Light";
    text-transform: unset;
    font-size: 60px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 72px;
  }
  .events__right-part .main__btn {
    margin: 0 0 74px 0;
  }
  .events__right-part-img {
    width: 256px;
    height: 377px;
    display: block;
    position: absolute;
    bottom: 3px;
    right: 10px;
  }
  .email__input input {
    width: 378px;
  }

  .email__text p:first-child {
    font-family: "IvyPresto-Light";
    text-transform: unset;
  }
  .listen__btn {
    margin-right: 90px;
  }
  .listen__btn,
  .listen-from__list {
    margin-top: 0;
  }
  .post__btn {
    display: flex;
    align-items: center;
  }
  .read__btn img {
    margin-right: 14px;
  }
  .post__btn {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    border-bottom: none;
  }
  .mobile__menu-icon,
  .mobile__menu {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu ul {
    display: flex;
  }
  .menu li {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 30px;
  }
  .menu li:last-child {
    color: var(--main-yellow-color);
    margin-right: 0;
  }
  .hero__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: baseline;
  }
  .hero__title {
    font-weight: 300;
    font-size: 98px;
    margin-bottom: 0;
    margin-right: 50px;
  }

  .hero__label {
    margin-bottom: 0;
  }

  .hero__menu ul {
    display: flex;
  }
  .hero__menu li {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 0;
  }
  .hero__menu li:last-child {
    margin-right: 0;
  }
  .content__container,
  .info-page__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .content__wrap,
  .content__left-part-wrap {
    display: flex;
  }
  .content__left-part {
    width: 90%;
  }
  .content__line {
    opacity: 0.2;
    border-right: 1px solid var(--main-dark-blue-color);
    margin-right: 36px;
    margin-left: 36px;
  }
  .content__left-part-wrap {
    justify-content: space-between;
  }
  .content__title {
    font-weight: 300;
    font-size: 60px;
    margin-top: 13px;
  }
  .content__title,
  .title,
  .banner-episodes__title,
  .events__right-part-title {
    font-family: "IvyPresto-Light";
    text-transform: unset;
  }
  .title {
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
  }
  .verdicts__title {
    width: 72px;
  }
  .casetypes__container {
    padding-top: 0;
    padding-bottom: 44px;
  }
  .casetypes__line {
    opacity: 0.2;
    border-top: 1px solid #ffffff;
  }
  .casetypes__title,
  .resource__title,
  .videosondemand__title,
  .banner-episodes__title-secondary,
  .events__title {
    margin-bottom: 35px;
    margin-left: 30px;
  }
  .casetypes__line {
    margin-bottom: 20px;
  }
  .casetypes__wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .casetypes__left-part ul {
    justify-content: start;
  }
  .casetypes__right-part-title {
    font-family: "IvyPresto-Light";
    font-weight: 300;
    font-size: 98px;
    line-height: 111%;
    margin-top: 0;
  }
  .resource__line {
    opacity: 0.2;
    border-top: 1px solid #babec0;
    margin-bottom: 20px;
  }
  .resource__container,
  .banner-series__container,
  .banner-episodes__container {
    width: 1375px;
    margin: 0 auto;
  }
  .resource__container {
    padding-top: 64px;
    padding-bottom: 53px;
  }
  .resource__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .resource__list li {
    padding: 76px;
  }
  .resource__list li:first-child {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .resource__list li:first-child div {
    width: 54%;
  }
  .resource__img {
    display: block;
    position: absolute;
    width: 401px;
    height: 594px;
    right: 53px;
    bottom: -110px;
  }
  .resource__list li:nth-child(2) {
    border-bottom: 0;
  }
  .resource__list li:nth-child(n + 2) {
    width: 49%;
  }
  .resource__list li .main__btn {
    margin: 0;
  }
  .resource__list p {
    margin-bottom: 35px;
  }

  .resource__btn {
    max-width: 492px;
  }
  .videosondemand__container {
    padding-top: 0;
    padding-bottom: 56px;
  }
  .videosondemand__line {
    opacity: 0.2;
    border: 1px solid #babec0;
    margin-bottom: 20px;
  }
  .videosondemand__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .banner-series__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 66px;
    padding-right: 64px;
    padding-bottom: 44px;
  }
  .banner-series__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .banner-series__text {
    width: 50%;
  }
  .banner-series__text p:first-child {
    font-family: "IvyPresto-Light";
    font-weight: 100;
    font-size: 80px;
    line-height: 91%;
  }
  .banner-series__text p:last-child {
    margin-bottom: 0;
  }
  .banner-series__btn {
    width: 36%;
    margin-bottom: 0;
  }
  .banner-series__img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .banner-episodes {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .banner-episodes__container {
    display: flex;
  }
  .banner-episodes__left-part {
    width: 51%;
  }

  .banner-episodes__left-part img {
    width: 447px;
    height: 447px;
  }
  .banner-episodes__right-part {
    position: relative;
    display: flex;
    width: 100%;
    padding: 76px 64px 39px 44px;
    margin-left: 10px;
    align-items: center;
  }
  .banner-episodes__right-part-text {
    width: 63%;
  }
  .banner-episodes__title {
    font-family: "IvyPresto-Light";
    font-weight: 300;
    font-size: 60px;
    line-height: 120%;
  }
  .banner-episodes__btn::before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.4;
    width: 1px;
    height: 100px;
    top: 190px;
    right: 427px;
    background-color: var(--main-dark-blue-color);
  }
  .banner-episodes__btn .main__btn {
    margin-top: 0;
  }
  .events__container {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .events__container-line {
    opacity: 0.2;
    border-top: 1px solid #ffffff;
    margin-bottom: 20px;
  }
  .events__title {
    text-align: start;
    margin-bottom: 48px;
  }
  .events__wrap {
    display: flex;
    justify-content: space-between;
  }
  .events__left-part {
    width: 49%;
    margin-bottom: 0;
  }
  .events__right-part {
    width: 49%;
  }
  .email__text p:first-child {
    text-transform: initial;
    font-weight: 300;
    font-size: 64px;
  }
  .email__text p:last-child {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.17em;
  }
  .info-page__title {
    font-family: "IvyPresto-Light";
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 0;
  }
  .posts__container {
    margin-bottom: 120px;
  }
  .posts__item {
    display: flex;
    padding-bottom: 37px;
    zoom: 0.7;
  }
  .posts__item:nth-child(n + 2) {
    padding-top: 36px;
  }
  .post__left-part {
    margin-right: 35px;
    margin-bottom: 0;
  }
  .post__left-part img {
    width: 722px;
  }
  .post__text {
    display: block;
    margin-top: 10px;
  }
  .post__right-part {
    position: relative;
    padding-top: 27px;
    width: 44%;
  }
  .post__right-part .watch__btn,
  .post__btn,
  .read__btn {
    position: absolute;
    bottom: 15px;
  }
  .filter__container {
    padding-bottom: 64px;
  }
  .filter__list li {
    margin-right: 37px;
  }
  .listen-from__list {
    margin-top: 0;
  }
  .media-content__container {
    padding-top: 64px;
    padding-bottom: 36px;
  }
  .text-content__container {
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .text-content__list {
    margin-top: 56px;
  }
  .text-content__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .text-content__left-part,
  .text-content__right-part {
    width: 48%;
  }

  .listen-from__list li {
    margin-right: 101px;
  }
  .text-content__right-part .listen-from__list {
    width: 500px;
    background-color: #06022f;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .posts__item {
    zoom: 1;
  }
}
